
body{
    background: url(./img/Twinkle\ Star-0.7s-1536px.png);
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;;
}
#cardDiv .image{
display:none;
}
#cardDiv .image.block{
    display:block;
}

div.none{
    display:none !important;
}
div.none.blok{
    display:flex !important;
}
.catimg{
    overflow:hidden;
    transition: scale 2s ease-in-out;
}
.catimg:hover{
    scale:1.1
}